{% extends 'base.html' %}  
  
{% block content %}  
    <form method="post" enctype="multipart/form-data">  
        {% csrf_token %}  
        {{ form.as_p }}  
        <button type="submit">Upload</button>  
    </form>  
  
    {% if img_obj %}  
        <h3>Succesfully uploaded : {{img_obj.caption}}</h3>  
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">  
    {% endif %}  
    <div class="column is-one-third">
    
        <div class="block">
            <a href="{% url 'dwitter:profile' request.user.profile.id %} ">
                <button class="button is-success is-light is-outlined is-fullwidth">
                    My Profile
                </button>
            </a>
            <a href="{% url 'dwitter:image_all' request.user.profile.id %}">
                <button class="button is-dark is-outlined is-fullwidth">
                    My Gallery
                </button>
            </a>
        </div>
    </div>
  
{% endblock content %}