{% extends 'base.html' %}

{% block content %}

<div class="column">

    <div class="block">
    <h1 class="title is-1">Photos</h1>
    <div class="content" style="max-width: 30%;">
        {% if my_images %}
            {% for image in my_images %}
                <div class="box">
                    <a href="{% url 'dwitter:image_detail' image.pk %}"><h4>{{ image.caption }}</h4></a>
                    <img src="{{ image.image.url }}" alt="connect" style="max-height:100px">  
                </div>
            {% endfor %}
        {% else %}
            <div><h3>No images</h3></div>
        {% endif %}
    </div>
    </div>
</div>

<div class="column is-one-third">

    <div class="block">
        <a href="{% url 'dwitter:profile_list' %}">
            <button class="button is-dark is-outlined is-fullwidth">
                All Profiles
            </button>
        </a>
        <a href="{% url 'dwitter:image_add' %}">
            <button class="button is-dark is-outlined is-fullwidth">
                Add Image
            </button>
        </a>
    </div>
</div>

{% endblock content %}