{% extends "base.html" %}
{% block content %}
<div class="block">
    <div>
        <h2>{{ my_image.caption }}</h2>
        {% if my_image.profile == user.profile %}
        <a href="{% url 'dwitter:image_delete' my_image.pk %}">Delete photo</a>
        {% endif %}
    </div>
    <div>
        <img src="{{ my_image.image.url }}" alt="connect">
    </div>
</div>
    
{% endblock %}