{% extends "base.html" %}
{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete this image?</p>
    <img src="{{ my_image.image.url }}" alt="connect" style="max-height:100px">
    {{ form }}
    <input type="submit" value="Confirm">
</form>
{% endblock %}