{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

<a href="{% url 'dwitter:dashboard' %}">Back to dashboard</a>
<a href="{% url 'register' %}">Register</a>
{% endblock %}